html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    border: 2px solid rgb(59 90 98);
}

.table th,
.table td {
    padding: 5px 10px;
    border: 1px solid rgb(59 90 98);
}

.table__head {
    color: #fff;
}

.table__title,
.table__sections {
    background-color: rgb(14 106 117);
}

.table__columns {
    background-color: rgb(131 137 151);
}

.table__address {
    background-color: rgb(170 170 170);
}

.table__row:nth-child(even) {
    background-color: rgb(233 233 233);
}

.table__row-data:not(:first-child) {
    text-align: center;
}
